{{HEADER}}

const binding = new Shiny.InputBinding();

$.extend(binding, {
  find(scope) {
    return $(scope).find('{{FIND_SELECTOR}}');
  },

  getId(el) {
    return el.id;
  },

  getValue(el) {
    {{GET_VALUE}}
  },
{{GET_TYPE_METHOD}}

  subscribe(el, callback) {
    {{SUBSCRIBE_BODY}}
    el.addEventListener('{{SUBSCRIBE_EVENT}}', el.__shinyWebawesomeCallback);
  },

  unsubscribe(el, callback) {
    if (el.__shinyWebawesomeCallback) {
      el.removeEventListener('{{SUBSCRIBE_EVENT}}', el.__shinyWebawesomeCallback);
      delete el.__shinyWebawesomeCallback;
    }
  },

  receiveMessage(el, data) {
    {{RECEIVE_MESSAGE}}
  }
});

Shiny.inputBindings.register(binding, '{{BINDING_NAME}}');
